<ion-content>

	<div class="message {{lastMessage._creator.usr}}" ng-repeat="lastMessage in lastMessages">
		<div class="avatar">
			<img src="{{lastMessage._creator.avatar}}">
		</div>
		<div class="content">
			<div class="normal">
				<p ng-bind-html="lastMessage.msg"></p>
				<time am-time-ago="lastMessage.created"></time>
			</div>
		</div>
	</div>

	<div class="message {{message.user.usr}}" ng-repeat="message in messages">
		<div class="avatar">
			<img src="{{message.user.avatar}}">
		</div>
		<div class="content">
			<div class="normal">
				<p ng-bind-html="message.msg"></p>
				<time am-time-ago="v.Dt"></time>
			</div>
		</div>
	</div>
    
</ion-content>

<ion-footer-bar>
	<form ng-submit="sendMessage()">
	   <input type="text" placeholder="Send a message" ng-model="messageData.msg">
    </form>
</ion-footer-bar>