<ion-content>

	<div class="message {{lastMessage._creator.usr}}" ng-repeat="lastMessage in lastMessages">
		<div class="avatar">
			<img src="{{lastMessage._creator.avatar}}">
		</div>
		<div class="content">
			<div class="normal">
				<p>{{lastMessage.msg}}</p>
				<time datetime="2014-09-10T16:27:08.775Z">21m</time>
			</div>
		</div>
	</div>

	<div class="message {{message.user.usr}}" ng-repeat="message in messages">
		<div class="avatar">
			<img src="{{message.user.avatar}}">
		</div>
		<div class="content">
			<div class="normal">
				<p>{{message.msg}}</p>
				<time datetime="2014-09-10T16:27:08.775Z">21m</time>
			</div>
		</div>
	</div>
    
</ion-content>

<ion-footer-bar>
	
	<input type="text" placeholder="Send a message">

</ion-footer-bar>